.cardBack {
  width: 130px;
  height: 212px;
  margin-top: 12px;
  background-color: #ff7d9d;
  background-size: 55px 55px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px, 0px 36px, 4px 2px,
    29px 6px, 33px 30px;
  background-image: linear-gradient(335deg, #c90032 23px, transparent 23px),
    linear-gradient(155deg, #c90032 23px, transparent 23px),
    linear-gradient(335deg, #c90032 23px, transparent 23px),
    linear-gradient(155deg, #c90032 23px, transparent 23px),
    linear-gradient(335deg, #c90032 10px, transparent 10px),
    linear-gradient(155deg, #c90032 10px, transparent 10px),
    linear-gradient(335deg, #c90032 10px, transparent 10px),
    linear-gradient(155deg, #c90032 10px, transparent 10px);
}
