.center {
  display: flex;
  justify-content: center;
}

.bank {
  display: flex;
  border-color: white;
  border: 1px;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.05s ease-out;
}

button:focus {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.9);
}
