body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(33, 189, 19);
  opacity: 1;
  background-image: radial-gradient(circle at center center, #ffffff, #247c14),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      15px,
      transparent 30px,
      transparent 15px
    );
  background-blend-mode: multiply;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
